<h1>LOGIN!</h1>

Kelsie Crona

<%= form_tag('/register') do -%>
      <div>Fucking Name: <%= text_field_tag :name %></div>
      <div>Fucking PW: <%= text_field_tag :password %></div>
      <div><%= submit_tag 'Damn' %></div>
<% end -%>